/* @media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
} */
/* Show #desktop-nav when the screen width is over 1200px */
/* @media screen and (min-width: 1201px) {
  #desktop-nav {
    display: flex;
  }
  #hamburger-nav {
    display: none;
  }
} */

/* Hide #hamburger-nav by default */
#hamburger-nav {
  display: none;
}

@media screen and (min-width: 2000px) {
  p {
    font-size: 1.3rem;
  }
  h1,
  .title {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  .profile_img {
    width: 500px;
    height: auto;
  }
  .my_name {
    font-size: 6rem;
  }
  .btn {
    font-weight: 800;
    width: 15rem;
    border-radius: 3rem;
    font-size: x-large;
  }

  .sns_icon {
    height: 4rem;
  }
  .btn-container {
    margin-top: 3rem;
  }
  #socials-container {
    margin-top: 3rem;
  }

  .about_img {
    width: auto;
    height: auto;
  }

  .section-container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .experience_details-container {
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
  }
  .article-container {
    max-width: 80%; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  article {
    width: 13rem;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 80vh;
    margin-bottom: 5rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
  .scroll_down {
    text-align: center;
  }
}

/* Screens up to 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience_details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 20vh;
  }
  #profile {
    height: 70vh;
    margin-bottom: 0;
    padding-top: 3vh;
  }
  .profile_img img {
    width: auto;
    height: auto;
  }
  .scroll_down {
    margin-top: 15px;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section_pic-container {
    width: auto;
    height: 30vh;
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .icon {
    height: 2rem;
  }
  .article-container {
    gap: 0.5rem;
    font-size: 1.25rem;
  }
  .contact-info-container a {
    font-size: 1rem;
    text-underline-offset: auto;
  }
  .contact-info-upper-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .about_img {
    display: none;
  }
  .about_details-container {
    justify-content: center;
    flex-direction: column;
    margin: 0 2%;
  }
}

/* For Firefox - mobile(Galaxy) */
@media only screen and (min-width: 320px) {
  @-moz-document url-prefix() {
    #profile {
      height: 82vh;
    }
  }
}
